.projects
  .project(ng-repeat="project in projects")
    .title
      .calendar
      .name(ng-hide="project == data.editedProject")
        {{project.name}}
        %button.remove(ng-click="removeItem(project, projects)")
        %button.edit(ng-click="beginProjectEdit(project)")
      .form(ng-show="project == data.editedProject")
        %form(name="projectForm" ng-submit="confirmProjectEdit(project)" novalidate)
          %input(name="projectName" ng-model="data.projectNewName")
          %button.save(type="submit")
        %button.cancel(ng-click="cancelProjectEdit()")
    %ng-include(src=" 'tasks.html' ")