.project
  .title
    .calendar
    .name(ng-hide="project == editing.editedItem")
      %a(href="\#{{ project.getRestangularUrl() }}")
        {{project.name}}
      %button.remove(ng-click="removeItem(project, projects)")
      %button.edit(ng-click="beginItemEdit(project, 'name')")
    .form(ng-show="project == editing.editedItem")
      %form.project-name-form(name="projectNameForm" ng-submit="confirmItemEdit(project, 'name')" novalidate)
        %input(type="text" name="name" ng-model="editing.itemNewAttr" input-focus="project == editing.editedItem"
          input-escape="cancelItemEdit()" ng-minlength="3" ng-maxlength="80" required)
        %button.save(type="submit" ng-disabled="projectNameForm.$invalid")
      %button.cancel(ng-click="cancelItemEdit()")
  .tasks-wrapper(ng-include=" 'tasks.html' ")