.task
  %input(type="checkbox" ng-model="task.completed" ng-click="updateTask(task)")
  %span.description(ng-class="taskClass(task)")
    {{task.description}}
  %a(href="\#{{ task.getRestangularUrl() }}" ) view
  %button(ng-click="removeItem(task, tasks)") remove
  .comments
    .comment(ng-repeat="comment in task.comments")
      {{comment.body}}
      %button(ng-click="removeItem(comment, task.comments)") remove
%a(href="/#") back