.single-task(ng-show="task")
  .title
    .completed
      %label
        %input(type="checkbox" ng-model="task.completed" ng-click="task.updateAttr('completed')")
        .text
          .icon
          {{ task.completed ? 'Completed!' : 'In progress' }}
    %span.description(ng-class="taskClass(task)")
      {{task.description}}
    %button(ng-click="removeTask(task)") remove
    %input(type="hidden" ng-model="task.deadline" ui-date="datepickerOptions" ng-change="task.updateAttr('deadline')")
  .dates(ng-class="{'no-deadline': !task.deadline}")
    .deadline
      %span.sm
        deadline:
      {{task.deadline | toLocale : false}}
    .updated_at
      %span.sm
        last update:
      {{task.updated_at | toLocale}}
    .created_at
      %span.sm
        created:
      {{task.created_at | toLocale}}
  .comments
    .comments-list
      .comment(ng-repeat=" comment in task.comments | orderBy: 'updated_at' ")
        .controls
          %button.comment-remove.fa.fa-trash(ng-click="removeItem(comment, task.comments)")
          %form.new-attachment-form(ng-submit="createAttachment(file, comment.attachments)" name="attachmentForm" enctype="multipart/form-data" novalidate)
            %label.file
              %i.fa.fa-upload
              %input(type='file' name="file" fileread="file" change="createAttachment(file, comment.attachments)")
          .comment-date
            {{comment.created_at | toLocale : true}}
        .body
          {{comment.body}}
        .attachments(ng-show="comment.attachments.length")
          .attachments-list
            .attachment(ng-repeat="att in comment.attachments" )
              %a.name(href="{{att.file}}" target="_blank")
                %i.fa.fa-paperclip
                {{att.file_file_name}} ({{att.file_file_size | bytes}})
              %a.attachment-remove.fa.fa-trash-o(ng-click="removeItem(att, comment.attachments)")
              %span.date
                {{att.created_at | toLocale : true}}
    .new-comment-form
      .annotation Leave comment:
      %form(name="newCommentForm" ng-submit="createNewItem(newComment, task.comments)" novalidate)
        %textarea(ng-model="newComment.body" required)
        %button(type="submit" ng-disabled="newCommentForm.$invalid") add new comment
