.tasks(ng-controller="TasksController" )
  .task-form
    %form(ng-submit="createNewTask(newTask, tasks)" novalidate)
      %input(ng-model="newTask.description")
      %button(type="submit") add new task
  .tasks-list
    .task(ng-repeat=" task in tasks | orderBy : 'updated_at' : true")
      %label(ng-class="taskClass(task)")
        %input(type="checkbox" ng-model="task.completed" ng-click="updateTask(task)")
        {{task.description}}
      %button(ng-click="removeTask(task, tasks)") remove