.single-task(ng-show="task")
  .title
    %input(type="checkbox" ng-model="task.completed" ng-click="task.updateAttr('completed')")
    %span.description(ng-class="taskClass(task)")
      {{task.description}}
    %a(href="\#{{ task.getRestangularUrl() }}" ) view
    %button(ng-click="removeTask(task)") remove
  .comments
    .new-comment-form
      %form(ng-submit="createNewItem(newComment, task.comments)" novalidate)
        %input(ng-model="newComment.body")
        %button(type="submit") add new comment
    .comments-list
      .comment(ng-repeat=" comment in task.comments | orderBy: 'updated_at' ")
        .controls
          %button.comment-remove(ng-click="removeItem(comment, task.comments)")
            .icon
          %form.new-attachment-form(ng-submit="createAttachment(file, comment.attachments)" name="attachmentForm" enctype="multipart/form-data" novalidate)
            %label.file
              .icon
              %input(type='file' name="file" fileread="file" change="createAttachment(file, comment.attachments)")
        .body
          {{comment.body}}
        .attachments
          .attachments-list
            .attachment(ng-repeat="att in comment.attachments" )
              %a.name(href="{{att.file}}" target="_blank")
                .icon
                {{att.file_file_name}} ({{att.file_file_size | bytes}})
              %a.attachment-remove(ng-click="removeItem(att, comment.attachments)")
                .icon

%a(href="#/") back