.single-task
  .title
    %input(type="checkbox" ng-model="task.completed" ng-click="updateTask(task)")
    %span.description(ng-class="taskClass(task)")
      {{task.description}}
    %a(href="\#{{ task.getRestangularUrl() }}" ) view
    %button(ng-click="removeTask(task)") remove
  .comments
    .new-comment-form
      %form(ng-submit="createNewItem(newComment, task.comments)" novalidate)
        %input(ng-model="newComment.body")
        %button(type="submit") add new comment
    .comments-list
      .comment(ng-repeat="comment in task.comments")
        {{comment.body}}
        %button(ng-click="removeItem(comment, task.comments)") remove
        .attachments
          .form
            %form(ng-submit="createAttachment(file, comment.attachments)" name="attachmentForm" enctype="multipart/form-data" novalidate)
              .throbber(throbber-tst="testVar" )
              %input(type='file' name="file" fileread="file" change="createAttachment(file, comment.attachments)")
          .attachment(ng-repeat="att in comment.attachments" )
            %a(href="{{att.file}}" target="_blank")
              .icon
              {{att.file_file_name}} ({{att.file_file_size | bytes}})
%a(href="#/") back