.tasks(ng-controller="TasksController" )
  .form
    %form(ng-submit="createNewTask(newTask, tasks)" novalidate)
      %input(ng-model="newTask.description")
      %button(type="submit") add new task
  .tasks-list(ng-model="tasks" ui-sortable="sortableOptions")
    .task(ng-repeat="task in tasks" data-id="{{task.id}}" )
      .completed
        %input(type="checkbox" ng-model="task.completed" ng-click="updateTask(task)")
      %a.description(href="\#{{ task.getRestangularUrl() }}" ng-class="taskClass(task)")
        {{task.description}}
      .controls
        %button.remove(ng-click="removeItem(task, tasks)")