.tasks(ng-controller="TasksController" )
  .new-task-form
    %form(ng-submit="createNewTask(newTask, tasks)" novalidate)
      .input-group
        %input.form-control(ng-model="newTask.description" placeholder="Start typing here to create a task...")
        %span.input-group-btn
          %button.btn.btn-default(type="submit") Add Task
  .tasks-list(ng-model="tasks" ui-sortable="sortableOptions")
    .task(ng-repeat="task in tasks" data-id="{{task.id}}" ng-class="taskClass(task)")
      .completed
        %label
          %input(type="checkbox" ng-model="task.completed" ng-click="updateTask(task)")
          .icon
      .normal(ng-hide="task == editing.editedItem")
        .description-wrapper
          %a.description(href="\#{{ task.getRestangularUrl() }}")<
            {{task.description}} || {{task.deadline | toLocale}}
        .controls
          .handle
          %input(type="hidden" ng-model="task.deadline" ui-date="datepickerOptions" ng-change="task.updateAttr('deadline')")
          %button.edit(ng-click="beginItemEdit(task, 'description')")
          %button.remove(ng-click="removeItem(task, tasks)")
      %form.task-description-form(name="taskForm" ng-submit="confirmItemEdit(task, 'description')" ng-show="task == editing.editedItem" novalidate)
        .description-wrapper
          %textarea(name="name" ng-model="editing.itemNewAttr" input-focus="task == editing.editedItem" input-escape="cancelItemEdit()" )
        .controls
          %a.cancel(ng-click="cancelItemEdit()")
          %button.save(type="submit")