!!!
%html(ng-app="exampleApp")
  %head
    %title Simple Project Manager
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body(ng-controller="ApplicationController")
    #wrapper
      #throbber(throbber)
      %messages
      #container(ng-cloak)
        .profile
          = render 'shared/navbar'
        #content
          %ng-view