!!!
%html(ng-app="exampleApp")
  %head
    %title Simple Project Manager
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body(ng-controller="ApplicationController")
    #wrapper
      .logout
        = render 'shared/navbar'

        -#= link_to 'log out', destroy_user_session_path

        -#- if user_signed_in?
        -#  = form_tag destroy_user_session_path, method: :delete do|f|
        -#    %label
        -#      = submit_tag 'logout'
        -#      .icon
      #throbber(throbber)
      %messages
      #container(ng-cloak)
        %ng-view