body {
  background-color: rgba($color-orange, .75);
}
input,
textarea,
button {
  outline: none;
}

#container {
  width: 98%;
  max-width: 768px;
  margin: 0 auto;
}
.project {
  margin: 40px 0;
  box-shadow: 0 5px 10px rgba($color-black, .25);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  .title {
    @include clearfix;
    background: cornflowerblue;
    color: $body-bg;
    padding: 5px;
    .calendar {
      @extend .glyphicon, .glyphicon-calendar;
      float: left;
      margin-left: 10px;
    }
    .form,
    .calendar,
    .name {
      line-height: 35px;
      font-size: 20px;
    }
    .name {
      padding-left: 40px;
      @include clearfix;
      display: block;
      a {
        color: $color-white;
      }
    }
    .form{
      @include clearfix;
      display: block;
      padding-left: 35px;
    }
    form {
      width: 100%;
      text-align: right;
      input {
        @include reset-input;
        box-shadow: inset 2px 3px 6px rgba($color-black, .25);
        width: 645px;
        float: left;
        padding-left: 5px;
        background: rgba($color-white, .25);
      }
    }
    .save {
      @extend .glyphicon-ok;
    }
    .cancel {
      @extend .glyphicon-remove;
    }
    .edit {
      @extend .glyphicon-pencil;
    }
    .remove {
      @extend .glyphicon-trash;
    }
    .save,
    .cancel,
    .edit,
    .remove {
      @extend .glyphicon;
      @include reset-button;
      float: right;
      font-size: 15px;
      padding: 10px;
      margin-left: 0;
      color: rgba($color-white, .75);
      &:hover {
        color: $color-white;
      }
    }
  }
}
//input[type='text']
//input[type='email']
//input[type='password'] {
//
//}

.task-ph {
  background: #eaeaea;
  box-shadow: inset 0 3px 6px rgba($color-black, .25);
}
.tasks {
  .task {
    background: $color-white;
    @include clearfix;
    position: relative;
    &.ui-sortable-helper,
    &:hover {
      background: lighten($color-orange, 25%);
    }
  }
  .new-task-form {
    padding: 10px;
    background: $gray-lighter;
  }
  .tasks-list {
    background-color: #fff;
    line-height: 22px;
  }
  .completed,
  .description,
  .controls {
    padding: 15px 0;
  }
  .completed {
    float: left;
    text-align: center;
    width: 5%;
    &:after {
      @include before-after;
      left: 5%;
      top: 0;
      bottom: 0;
      width: 1px;
      background: rgba($color-orange, .75);
    }
  }
  .description-wrapper {
    float: left;
    width: 70%;
    margin-left: 1%;
    box-sizing: border-box;
    &:after {
      @include before-after;
      left: 6%;
      top: 0;
      bottom: 0;
      width: 1px;
      background: rgba($color-orange, .75);
    }
  }
  form.task-description-form {
    textarea {
      background: rgba(#eeeeee,.25);
      display: block;
      height: 300px;
      width: 100%;
      padding: 15px 25px 15px 30px;
      border: none;
      box-shadow: inset 2px 3px 6px rgba($color-black, .25);
    }
  }
  .description {
    padding-left: 30px;
    padding-right: 25px;
    display: block;
    color: $color-black;
//    white-space: pre-line;
    white-space: pre-wrap;
    &:hover {
      text-decoration: none;
    }
  }
  .controls {
    text-align: center;
    float: right;
    width: 24%;
    &:after {
      @include before-after;
      right: 24%;
      top: 0;
      bottom: 0;
      width: 1px;
      background: $gray-lighter;
    }
    .save {
      @extend .glyphicon-ok;
    }
    .cancel {
      @extend .glyphicon-remove;
    }
    .edit {
      @extend .glyphicon-pencil;
    }
    .handle {
      @extend .glyphicon-sort;
    }
    .remove {
      @extend .glyphicon-trash;
    }
    .save,
    .cancel,
    .edit,
    .handle,
    .remove {
      text-decoration: none;
      @include reset-button;
      @extend .glyphicon;
      color: $gray-light;
      padding: 5px;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        color: $gray-base;
        text-decoration: none;
      }
    }
  }
}
.single-task {
  background: $color-white;
  margin: 40px 0;
  .title {
    padding: 10px;
  }
}
.comments {
  padding: 5px 10px;
  background: #eaeaea;
  .comment {
    background: $color-white;
    margin: 10px 0;
  }
}

.done {
  text-decoration: line-through;
}
#throbber {
  right: 20px;
  top: 20px;
  position: fixed;
}

.attachments {
  background: lighten($color-orange, 25%);
  form {
    input {
      @include reset-button;
    }
  }
  .attachment {
    padding-left: 10px;
    a {
      display: inline-block;
      line-height: 20px;
      .icon {
        @extend .glyphicon, .glyphicon-paperclip
      }
    }
  }
}
