body {
  background-color: rgba(#f46d3b, .75);
}
#container {
  width: 98%;
  max-width: 768px;
  margin: 0 auto;
}
.project {
  background-color: #fff;
  margin: 40px 0;
  .title {
    @include clearfix;
    background: cornflowerblue;
    color: $body-bg;
    padding: 10px 15px;
    .calendar {
      @extend .glyphicon, .glyphicon-calendar;
      margin-right: 15px;
    }
    .calendar,
    .name {
      line-height: 25px;
      float: left;
      font-size: 20px;
    }
    .edit {
      @extend .glyphicon, .glyphicon-pencil;
    }
    .remove {
      @extend .glyphicon, .glyphicon-trash;
    }
    .edit,
    .remove {
      @include reset-button;
      float: right;
      font-size: 15px;
      padding: 5px;
      margin-left: 5px;
      &:hover {
        background: rgba(white, .25);
      }
    }
  }
}
.completed {
  text-decoration: line-through;
}
.task {
  margin: 10px 0;
  padding:  10px;
  background: #eaeaea;
}
#throbber {
  right: 20px;
  top: 20px;
  position: fixed;
}