#container {
  width: 98%;
  max-width: 768px;
  margin: 0 auto;
}
.project {
  margin: 40px 0;
  border: solid 1px #999;
  padding: 20px;
}
.task.completed {
  text-decoration: line-through;
}
.task {
  margin: 10px 0;
  padding:  10px;
  background: #eaeaea;
}