@mixin reset-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
@mixin reset-input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}
@mixin no-font {
  font-size: 0;
  color: transparent;
}
@mixin before-after {
  position: absolute;
  content: '.';
  @include no-font;
  display: block;
}