!!!
%html
  %head
    %title Project Manager
    = stylesheet_link_tag 'application', media: 'all'
    -#= javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  -#%body(ng-controller="ApplicationController")
    -##throbber(throbber)
    -##container(ng-cloak)
      -#%ng-view
  %body
    = yield