!!!
%html(ng-app="exampleApp")
  %head
    %title AngularJS Demo
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body(ng-controller="ApplicationController")
    #container
      .projects(ng-controller="ProjectsController")
        .project(ng-repeat=" project in projects | orderBy : 'updated_at' : true ")
          .name
            %span(ng-hide="project == data.editedProject")
              {{project.name}}
              %button(ng-click="beginProjectEdit(project, projectForm)") edit
            .form-wrapper(ng-show="project == data.editedProject")
              %form(name="projectForm" ng-submit="confirmProjectEdit(project)" novalidate)
                %input(name="projectName" ng-model="data.projectNewName")
                %button(type="submit") save
              %button(ng-click="cancelProjectEdit()") cancell
          %button(ng-click="removeItem(project, projects)") remove
          %i
            {{project.updated_at}}
          %h3 Tasks
          .new-task
            %form(ng-submit="createNewTask(newTask, project.tasks)" novalidate)
              %input(ng-model="newTask.description")
              %button(type="submit") add new task
          .tasks
            .task(ng-repeat=" task in project.tasks | orderBy : 'updated_at' : true" ng-class="taskClass(task)")
              %input(type="checkbox" ng-model="task.completed" ng-click="updateTask(task)")
              {{task.description}}
              %button(ng-click="removeItem(task, project.tasks)") remove
