<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>AngularJS Demo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
  <h3 class="panel-header">To Do List</h3>
  <table class="table">
    <thead>
    <tr><th>#</th><th>Action</th><th>Done</th></tr>
    </thead>
    <tr ng-repeat="item in todos">
      <td>{{$index + 1}}</td>
      <td ng-repeat="prop in item">{{prop}}</td>
    </tr>
  </table>
</div>

</body>
</html>
