<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <title>AngularJS Demo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
  <h3 class="panel-header">To Do List</h3>
  There are {{todos.length}} items
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Action</th>
      <th>Done</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="item in todos">
      <td>This is item {{$index+1}}</td>
    </tr>
    <tr>
      <td>The action is: {{item.action}}</td>
    </tr>
    <tr ng-repeat-end>
      <td>Item {{$index+1}} is {{item.complete? '' : "not "}} complete</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
